
<footer>
 <div class="social-media-icons" id="socialMediaIcons">
 <ul>
    <li><a class="icons" id="fb" href="https://www.facebook.com/"><i class="fa-brands fa-facebook"></i></li>
    <li><a class="icons" id="x" href="https://www.twitter.com/"><i class="fa-brands fa-x-twitter"></i></li>
    <li><a class="icons" id="insta" href="https://www.instagram.com/"><i class="fa-brands fa-instagram"></i></li>
    <li><a class="icons" id="youtube" href="https://www.youtube.com/"><i class="fa-brands fa-youtube"></i></li>
 </ul>
</div> 
</footer>
</html>