 <div class="social-media-icons">
 <ul>
    <li><i class="fa-brands fa-facebook"></i></li>
    <li><i class="fa-brands fa-x-twitter"></i></li>
    <li><i class="fa-brands fa-instagram"></i></li>
    <li><i class="fa-brands fa-youtube"></i></li>
 </ul>
</div>   
<footer>
<div class="social-media-icons">Social Media Icons Here></div>
</footer>
</html>