<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.4.2/css/fontawesome.min.css">
    <script src="https://kit.fontawesome.com/1ac33559ac.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Antic+Didone&family=Bodoni+Moda:opsz@6..96&family=Cormorant&family=Ephesis&family=Montserrat&family=Playfair+Display&family=Prata&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/app.css">  
  </head>
  <header>
    <h3 class="title">BON BON VOYAGE</h3>
    <nav>
        <ul class="nav_links">
        <li class="headerLi"><a class="headerA" href="/">Home</a></li>
        <li class="headerLi"><a class="headerA" href="/blog/about">About</a></li>
        <li class="headerLi"><a class="headerA" href="/blog">Blog</a></li>
    </ul>
    </nav>
  </header>
  </html>