<%- include('partials/header') %>
<body>
    <h1>destinations route works</h1>
    <nav >
        <a href="/blog/destinations/europe">Europe</a>
        <a href="/blog/destinations/asia-oceania">Asia & Oceania</a>
        <a href="/blog/destinations/north-america">North America</a>
        <a href="/blog/destinations/middleeast">Middle East</a>
        <a href="/blog/destinations/africa">Africa</a>
        <a href="/blog/destinations/caribbean-central-america">Caribbean & Central America</a>
    </nav>
</body>
</html>