<%- include('partials/header') %>
  <body>
    <h1 class="quote"> "LIFE IS A COMBINATION OF MAGIC AND PASTA"</h1>
    <h2 class="quoteBy"> - Federico Fellini</h2>
<img class="homeImg" src="https://images.squarespace-cdn.com/content/v1/533b44d9e4b0ac2733685dc4/1446335528245-3W25JIDSJSJL6B0GTKPO/vscocam-photo-1+%282%29.jpg?format=2500w">
<div class="hellodiv">Welcome to my blog where I share stories of my travels and food adventures from around the world. If you spend your vacation days thinking about what you’re going to eat next, you are in the right place. Join me on my journey to find the best foodie destinations around the world. </div>
<div class="flex-container">
    <div class="container">
      <img src="https://images.squarespace-cdn.com/content/v1/533b44d9e4b0ac2733685dc4/1511569749465-BN6RQUM203DD00EAI4KI/CBevent82-124.jpg" alt="Image 1" class="image">
      <div class="overlay-bottom-slide">
        <div class="text">Food</div>
      </div>
    </div>
    
    <div class="container">
      <img src="https://images.unsplash.com/photo-1454391304352-2bf4678b1a7a?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8fA%3D%3D" alt="Image 2" class="image">
      <div class="overlay-bottom-slide">
        <div class="text">Travel</div>
      </div>
    </div>
  
    <div class="container">
      <img src="https://pbs.twimg.com/media/D4OoBsFW4AU_HNQ?format=jpg&name=large" alt="Image 3" class="image">
      <div class="overlay-bottom-slide">
        <div class="text">Fun</div>
      </div>
    </div>
  </div>
</body>
<%- include('partials/footer') %>