<%- include('partials/header') %>
<h1>New Article</h1>
<form action="/blog" method="POST">
  Title: <input type="text" name="title" /><br />
  Content: <input type="text" name="content" /><br />
  Date: <input type="text" name="date" /><br />
  Image link: <input type="text" name="img" /><br />
  <input type="submit" value="publish article" />
</form>
<%- include('partials/footer') %>